http:
  routers:
    openclaw:
      rule: "Host(`{{ domain_name }}`)"
      entryPoints:
        - websecure
      service: openclaw
      middlewares:
        - rate-limit
{% if traefik_basic_auth | length > 0 %}
        - basic-auth
{% endif %}
      tls:
        certResolver: letsencrypt
  services:
    openclaw:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:18789"
        passHostHeader: true
  middlewares:
    rate-limit:
      rateLimit:
        average: {{ traefik_rate_limit_average }}
        burst: {{ traefik_rate_limit_burst }}
{% if traefik_basic_auth | length > 0 %}
    basic-auth:
      basicAuth:
        users:
{% for user in traefik_basic_auth %}
          - "{{ user }}"
{% endfor %}
{% endif %}
