AWS_ACCESS_KEY_ID={{ spaces_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ spaces_secret_access_key }}
RESTIC_REPOSITORY=s3:https://{{ _spaces_region }}.digitaloceanspaces.com/{{ spaces_bucket }}/openclaw
RESTIC_PASSWORD={{ _restic_password }}
